@media screen and (max-width: 600px){ 
.row {display:block;}
.mob30 {margin:1em auto;padding:0.5em;}
.mob40 {margin:1em auto;padding:0.5em;}
.mob15 {margin:1em auto;padding:0.5em;}
h1{margin:0 auto;}
}
@media screen and (min-width :600px) and (max-width: 2400px) { 
.row {display: flex; flex-wrap: wrap; margin: 0 auto; align-content:space-around;padding: 1em; padding-bottom: 2em; } 
.mob30 {flex: 0 0 30%;margin:0.5em auto;}
.mob40 {flex: 0 0 40%;margin:0.5em auto;}
.mob15 {flex: 0 0 15%;margin:0.5em auto;}
h1{margin:0 auto;}
}
div li { padding:0.2em; }
body { margin:0 auto; }
